<mat-tab-group class="subTabs night"[(selectedIndex)]="selectedGenre" (selectedTabChange)="updateGenre($event)" [disableRipple]="true">
  <mat-tab *ngFor="let genre of genres" label="{{genre.name}}" >
    <ng-content></ng-content>
  </mat-tab>
</mat-tab-group>
