<mat-tab-group class="mainTabs night" [(selectedIndex)]="selectedGenre" (selectedTabChange)="updateCategory($event)">

  <mat-tab *ngFor="let genre of genres" label="{{genre.name}}" [@.disabled]="" [style.max-width]="100 + 'px'" class="mainTab">
    <app-genres [category]="selectedCategory">
      <ng-content></ng-content>
    </app-genres>
  </mat-tab>
</mat-tab-group>
