<span>Breakpoint: {{grid.cols}}</span>
<mat-grid-list #grid>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
  <mat-grid-tile>9</mat-grid-tile>
  <mat-grid-tile *ngIf="screenSize === 'xl'">10</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3">
  <mat-grid-tile #left>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
</mat-grid-list>
