

@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/theming';

@include mat-core();

$backgroundgray: #eff1f2;
$navy: #0d2f56;
$lt_navy: #13457d;
//$lt_navy: #15467b;
$faded_gray: rgba(255, 255, 255, 0.7);

body {
  background-color: $backgroundgray;
  margin: 0;
  a {
    text-decoration: none;
    color: inherit;
    & :visited {
      text-decoration: none;
      color: inherit;
    }
  }
  & * {
    font-weight: 300;
  }
}

@mixin global-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);



  .mat-tab-header-pagination .mat-tab-header-pagination-disabled{
    display: none !important;
  }

  //.options{
  //  .mat-form-field-underline{
  //    background-color: $navy;
  //    color: $faded_gray;
  //  }
  //}

}

@mixin lt-global-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $header-border: 1px solid mat-color($foreground, divider);


  .tab_content_container{
      background-color: $backgroundgray;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    }
  .fixed_header > * {
    background-color: $backgroundgray;
  }


    .mat-tab-header-pagination .mat-tab-header-pagination-disabled{
      display: none !important;
    }

  }


@mixin global-config($config){

}

$night-theme: mat-dark-theme(mat-palette($mat-blue), mat-palette($mat-red), mat-palette($mat-yellow));
$bright-theme: mat-light-theme(mat-palette($mat-purple), mat-palette($mat-blue), mat-palette($mat-yellow));

.night {
  @include angular-material-theme($night-theme);
  @include global-theme($night-theme);
  //@include mat-tabs-theme($night-theme);
}

.bright {
  @include angular-material-theme($bright-theme);
  @include lt-global-theme($bright-theme);
  //@include mat-tabs-theme($bright-theme);
  color: black;
}

.options{
  background-color: $navy;
  color: $faded_gray;

  .mat-select-value{
    text-align: right;
  }
  .mat-select-arrow{
    //padding-top: 5px;
  }
  .mat-select-value-text{
    color: rgba(255, 255, 255, 0.7);
  }
  .mat-select-arrow-wrapper{
    padding-left: 5px;
  }
  .mat-form-field-underline{
    background-color: $navy !important;
    color: $navy;
  }
}

.mat-tab-header-pagination-disabled{
  display: none !important;
}

.mat-tab-label{
  min-width: 0px !important;
  padding: 0 12px !important;
}

* {
  font-family: GothamPro, sans-serif;
  font-weight: 300;

}

.fixed_header{
  width: 100%;
  margin-top: 20px;
}

.fixed_header tbody{
  display:block;
  overflow:auto;
  height:400px;
  //width:100%;
}
.fixed_header thead tr{
  display:block;
  //width:100%;
  font-family: Impact;
}

.fixed_header tbody tr{
  //width:100%;
}

.mainTabs{
  .mat-tab-label-active{
    opacity: 1;
  }

  background-color: $navy;
  & .mat-tab-label{
    background-color: $navy;
  }
  .mat-tab-header-pagination-before{
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(4,24,40,1));
  }
  .mat-tab-header-pagination-after{
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(4,24,40,1));
  }
  .mat-tab-header-pagination-chevron {
    display: none;
  }
  .mat-ink-bar{
    height: 4px;
  }
  .subTabs{
    .mat-ink-bar{
      height: 4px;
    }
    .mat-tab-label{
      background-color: $lt_navy;
      font-size: 20px;
    }
    .mat-tab-header-pagination-after{
      display: flex;
      background: linear-gradient(to right, rgba(12,71,123,0), rgba(8,48,83,1), rgba(4,24,40,1));
    }
    .mat-tab-header-pagination-before{
      display: flex;
      background: linear-gradient(to left, rgba(12,71,123,0), rgba(8,48,83,1), rgba(4,24,40,1));
    }
    .mat-tab-header-pagination-chevron {
      display: flex;
    }
  }
}

.mainTabs {
  font-weight: 200;
  .mat-tab-header {
    margin-right: 60px !important;
    border-bottom: none;
  }
  .mat-tab-labels{
    justify-content: center;
  }
  .mat-tab-label-content{
    font-weight: 200;
    font-size: 1.6em;
  }

  .subTabs{
    .mat-tab-header {
      background-color: $lt_navy;
      margin: 0 !important;
    }
    .mat-tab-body-content {
      background-color: $backgroundgray;
      //font-size: 1em;
    }
    .mat-tab-label{
      font-size: .5em;
      height: 60px;
    }
  }
}
.mat-tab-body{
  width: 100% ;
}

.numberBig{
  font-size: 1.8em;
  .material-icons {
    font-size: 1.8em;
  }
}



@media (max-width: 1100px) {
  .fixed_header{
    width: calc(100% - 40px);
    margin: 20px;
  }

}

@media (max-width: 800px) {
  .fixed_header{
    margin: 0;
    width: 100%;
  }

}
