$rightoffset: calc(100% - 90%);

$channelnumbergray: #f9fafb !default;
$backgroundgray: #eff1f2;
$navy: #0d2f56;
$lt_navy: #13457d;
//$lt_navy: #15467b;
$distance: calc((100% - 900px)/2);

@function make-darker($value) {
  @return $value + rgb(50,50,50);
}
@function make-lighter($value) {
  @return $value + rgb(-100,-100,-100);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //z-index: 0;
}

.unlocked {
  color: deepskyblue;

}
.left {
  justify-content: left;
  display: flex;
}

.center {
  position:absolute;
  left: 50%;
  right: 50%;
  letter-spacing: 2px;
}

.center, .prog_type{
  font-size: 10px;
  //padding-top: 20px;
}

.inline-select-label {
  display: none;
  line-height: 24px;
  font-family: 'Gotham', sans-serif;
  margin-right: 10px;
  color: gray;
  z-index: 10;

}

#stickySearch{
  position: absolute;
  right: $distance;
  top: 61px;
  z-index: 1;
  font-size: 55px;
  color: white;
  background: $navy; /* For browsers that do not support gradients */
  //background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1), rgba(255,0,0,1), rgba(255,0,0,1));
  & *{
    font-size: .8em;
  }
}

.numberBig{
  font-size: 1.8em;
  .material-icons {
    font-size: 1.8em;
  }
}

.numberSmall{
  font-size: 24px;
}


.channel_row{
  padding-top: 20px;
  background-color: white;
  width: 100%;
  display: inline-flex;
  margin-bottom: 5px;

  & div:nth-of-type(1){
    background-color: $channelnumbergray;
  }

  .row_section__5 {
    text-align: center;
    width: 175px;
    display: inline-flex;
    align-items: baseline;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
    .gray_play{
      background-color: lightgray;
      height: 50px;
      width: 50px;
    }
  }
  .row_section__4 {
    width: calc(100% - 475px);
    div.alert {
      opacity: 0;
      text-align: right;
      width: 100%;
      padding-bottom: 10px;
    }
  }
  .row_section__3 {
    text-align: left;
    width: 100px;
    font-weight: bolder;
  }
  .numberBig{
    font-size: 1.8em;
    .material-icons {
      font-size: 1.8em;
    }
  }

  .row_section__2{
    width: 100px;
    text-align: center;
  }

  .tool_tip{
    width: 100px;
    color: deepskyblue;
    .tool_tip__text{
      font-size: 10px;
      display: inline-block;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .row_section__1{
    color: gray;
    width: 100px;
    text-align: center;
  }

}

.channel_row.locked {
  color: make-darker(gray);
  box-shadow: black 3px;
  background-color: #f0f0f0;
   div{
    background-color: #f0f0f0;
  }
  .row_section__4{

    div.alert{
      span.material-icons{
        padding-top: 10px;
        &::after{

          content: "\E897";
          color: darkgray;
        }
      }
      opacity: 1;

      &::after{
        font-style: italic;
        content: 'This station is not available this this package.';
      }

    }
  }
  .row_section__2{

  }
  .row_section__1{
    background-color: #f0f0f0;
    span{
      button{
        display: none;
      }
    }
  }
  .row_section__5{
    background-color: #f0f0f0;
  }

}

div.mat-tab-header-pagination-controls-enabled.mat-tab-header-pagination[aria-hidden='true']{
  display: none !important;
}

.container{
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}


.search_container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  .mat-icon-button {
      font-size: 40px;
      & * {
        font-size: 40px;
      }
  }
}

.search_field {
  width: 600px;
  & > * {
      width: 600px;
  }
}

.search_modal{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 120px;
  background-color: #2a76d4;
  font-size: 1.5em;
  z-index: 100;
  position: absolute;
  top: 54px;
  left:0;

  }

@media (max-width: 1100px) {
  #stickySearch{
    right: 0px;
    & button {
      margin-right: 20px;
      margin-left: 10px;
    }
  }

  .container{
    width: 100%;
    height: 100%;
  }
  
}

.bars {
  .navy-bar{
    background-color: $navy;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 113px;
  }
  .lighter-navy-bar{
    background-color: $lt_navy;
    position: absolute;
    top: 113px;
    left: 0;
    right: 0;
    height: 60px;
  }
}
