<app-nagivation></app-nagivation>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push" position="end">
    <p>Export As</p>
    <button mat-icon-button>
      <mat-icon aria-label="Print icon">print</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Download icon">save_alt</mat-icon>
    </button>
  </mat-drawer>



<div class="bars">
  <div class="navy-bar"></div>
  <div class="lighter-navy-bar"></div>
</div>

<div class="container night">
<div class="options night">
<div class="left">
  <p class="inline-select-label">Channel Lineup for </p> <mat-form-field>
    <mat-select [(value)]="selectedPkg.key">
      <mat-option *ngFor="let pkg of pkgs" value="{{pkg.key}}"> {{pkg.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="center">{{title | uppercase}}</div>

<div class="right">


<button mat-icon-button>
  <mat-icon aria-label="Print icon">print</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon aria-label="Download icon">save_alt</mat-icon>
</button>
</div>
</div>

<!--<nav mat-tab-nav-bar>-->
  <div *ngIf="searchOpen" class="search_modal night">
    <div class="search_container">
      <mat-form-field class="search_field">
        <input matInput placeholder="Search genre, artist or category" aria-autocomplete="none">
      </mat-form-field>
      <button mat-icon-button (click)="openSearch()">
        <mat-icon aria-label="Close icon">close</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="!searchOpen" (swipeleft)="swipe(selectedGenre, $event)" (swiperight)="swipe(selectedGenre, $event)">
  <mat-tab-group class="mainTabs night" [(selectedIndex)]="selectedGenre" (selectedTabChange)="updateGenre($event)">

    <mat-tab *ngFor="let genre of genres" label="{{genre.name}}" [@.disabled]="" [style.max-width]="100 + 'px'" class="mainTab">


      <mat-tab-group class="subTabs night"[(selectedIndex)]="selectedSubGenre" (selectedTabChange)="updateSubGenre($event)" [disableRipple]="true">
        <mat-tab *ngFor="let subGenre of genres[selectedGenre].subGenres" label="{{subGenre.name}}" >
          <div class="tab_content_container bright">
        <!--<ng-template matTabContent>-->

          <table *ngIf="channels" class="fixed_header bright" id="fixed_header">
            <thead>
            <tr></tr>
            </thead>
            <tbody>

            <tr *ngFor="let channel of channels.slice(0,7)" class="channel_row" [class.locked]="
          (!channel.siriusxm.satellite.packages.SiriusXMSelect && selectedPkg.key === 'SiriusXMSelect') ||
(!channel.siriusxm.satellite.packages.SiriusXMSelect && selectedPkg.key === 'SiriusXMSelect') ||
(!channel.siriusxm.satellite.packages.siriusxmallaccess && selectedPkg.key == 'siriusxmallaccess') ">
              <div class="row_section__1">
                <img src="{{channel.smalllogo}}"><br />
                <span class="material-icons">
                  <button mat-icon-button>
                  <mat-icon>star_border</mat-icon>
                </button>
                </span>

              </div>

              <div *ngIf="channel !== channels[2]" class="row_section__2" [class.numberBig]="numberBig">

              {{channel.siriusxm.satellite.number}}<br />
              </div>

              <div *ngIf="channel === channels[2]" class="row_section__2 tool_tip" [class.numberBig]="numberBig">

                <button mat-icon-button>
                  <mat-icon>help_outline</mat-icon>
                </button>

                <br />

                <span class="tool_tip__text">Set radio to see channel</span>
              </div>

              <div class="row_section__3">
              {{channel.displayname}}
              </div>

              <div class="row_section__4">
                <span class="prog_type">{{channel.progtypetitle | uppercase}} </span> <br />
                {{channel.shortdescription}}
                <div class="alert"><span class="material-icons"></span></div>
              </div>


              <div class="row_section__5">
                <button mat-icon-button>
                  <mat-icon>add_circle</mat-icon>
                </button>

                <button mat-icon-button class="gray_play">
                  <mat-icon>play_arrow</mat-icon>
                </button>


                <button mat-icon-button>
                  <mat-icon>info</mat-icon>
                </button>

              </div>



            </tr>

            </tbody>
          </table>

            <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            <button (click)="showFiller = !showFiller" mat-raised-button>
              Toggle extra text
            </button>
          <!--<ul>-->
            <!--<li *ngFor="let channel of channels">{{channel.displayname}}</li>-->
            <!--&lt;!&ndash;<li *ngFor="let channel of channels.slice(0,10)"></li>&ndash;&gt;-->
          <!--</ul>-->
        <!--</ng-template>-->
          </div>





        </mat-tab>

      </mat-tab-group>


    </mat-tab>

    <!--<mat-tab>-->
      <!--<ng-template mat-tab-label>-->
        <!--<mat-icon class="example-tab-icon">search</mat-icon>-->
      <!--</ng-template>-->
    <!--</mat-tab>-->

  </mat-tab-group>
  </div>
<div id="stickySearch" *ngIf="!searchOpen">
  <button mat-icon-button (click)="openSearch()">
  <mat-icon aria-label="Search icon">search</mat-icon>
</button>
</div>

<!--<table id="outside">-->
  <!--<tr><td id="t1">one</td></tr>-->
  <!--<tr><td id="t2">two</td></tr>-->
<!--</table>-->

</div>



<button mat-raised-button (click)="numberSize()">
  <span *ngIf="!numberBig">Big numbers</span>
  <span *ngIf="numberBig">Small numbers</span>
</button>



  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>
